extends layout

block content
	h1= title
	p Welcome to #{title}
	p= JSON.stringify(myLayout)
	each item in myLayout
		case item.type
			when "h2"
				h2=item.label
			when "h3"
				h3=item.label
			when "spacer"
				hr
			when "checkbox"
				div
					input(type="checkbox" id=item.id)
					label(for=item.id)=item.label
			when "counter"
				div
					label=item.label
					button(onclick=`minusButton('${item.id}')`) -
					button(onclick=`plusButton('${item.id}')`) +
					input(type="number" id=item.id value=0)
			default
				p= JSON.stringify(item)
	script.
		function minusButton(thisId) {
			let numberInput = document.getElementById(thisId)
			numberInput.value = Number(numberInput.value) - 1
		}
		function plusButton(thisId) {
			let numberInput = document.getElementById(thisId)
			numberInput.value = Number(numberInput.value) + 1
		}